.mainDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
ul li {
  margin-left: 10px;
}
.socialIcons {
  margin-top: 30px;
}
.icon {
  margin-left: 10px;
}
.open {
  display: none;
}

button {
  display: none;
}
@media only screen and (max-width: 600px) {
  .mainDiv {
    flex-direction: column;
    justify-content: left;
  }
  ul {
    flex-direction: column;
    margin-top: 0px;
    opacity: 0;
  }
  .toggle {
    opacity: 1;
  }
  li {
    margin-left: 0px;
  }
  .socialIcons {
    display: none;
  }
  .firstPart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
  }
  .open {
    display: block;
    font-size: 20px;
    margin-top: -20px;
  }
  .cancel {
    display: block;
    margin-top: -20px;
  }
  button {
    display: block;
    background-color: white;
    border: none;
  }
}
